* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(2,0,36);
    }
  .container {
      display: grid;
      grid-template-columns: 6em 1fr 1fr 50px;
      grid-template-rows: 100px 1fr 150px;
      grid-template-rows: [full-start] 100px [content-start] 1fr [content-end] 60px [full-end];
      max-height: 1000px;
      width: 100%;
  }
  .header {
      grid-area: 1/2/2/5;
display: flex;
justify-content: space-between;
align-items: center;
width: 90vw;
height: 100px;
  }
  .logo {
      display: flex;
      align-items: center;
      color: #3A68B8;
      font-family:Arial, Helvetica, sans-serif;
font-size: 22px;
width: 100%;
  }
  .menu {
      display: flex;
    flex-grow: 1;
      justify-content: space-around;
  }
.menu a {
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 16px;
line-height: 22px;
    text-decoration: none;
    color: antiquewhite;
}
.header button {
   background-color: #3A68B8;
   color: white;
   height: 50px;
   width: 100px;
border-radius: 5px;
}
.main {
    grid-area: 2/2/3/3;
  align-self: center;
  color: #3A68B8;
  margin-right: 30px;
  max-width: 604px;
  max-height: 415px;
}
.main h1 {
    color: white;
font-size: 55px;
margin-top: 10px;
}
.main p {
    color:white;
    font-size: 18px;
    margin-top: 20px;
}
.main button {
    background-color: #3A68B8;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 20px;
    padding: 10px;
 }
.aside {
    grid-area: 2/3/3/5;
}
.footer {
    display: flex;
    grid-area: 3/2/4/5;
    align-self: center;
    justify-content: space-between;
    width: 90vw;
    margin-bottom: 20px;
}
.footer img {
    width: 12vw;
}
.container_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr max-content;
    justify-items: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.sidebar {
    grid-area: 1/1/2/2;
}
.section {
    grid-area: 1/2/2/3;
}
.section h1 {
    color: white;
font-size: 40px;
margin-top: 10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.section p {
    color:white;
    font-size: 16px;
    margin-top: 20px;
}
.section button {
    background-color: #3A68B8;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 20px;
    padding: 10px;
 }
.footer_2 {
    display: flex;
    grid-area: 2/1/3/3;
    align-self: center;
    max-height: 380px;
    margin-top: 30px;
}
.box {
    color: white;
    text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-right: 15px;
}
.box h2 {
font-size: 20px;
margin-top: 10px;
}
.box p {
    font-size: 12px;
    margin-top: 10px;
}
.container_3 {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 50px 1fr 50px 508px;
justify-items: center;
align-items: center;
max-height: 900px;
width: 100%;
}
.content {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: rgb(246, 238, 238);
}
.content p {
    font-size: 16px;
    margin-top: 20px;
}
.aside_2 {
    grid-area: 2/3/3/4;
}
.footer_3 {
    display: flex;
    grid-area: 4/2/5/4;
    color: antiquewhite;
    justify-content: space-between;
}
.footer_3 p {
    margin-top: 18px;
}
.footer_content {
    margin-right: 20px;
    width: 20%;
}
.footer_info {
    width: 20%;
}
.footer_menu {
    width: 20%;
}
.footer_info a {
    text-decoration: none;
}
.footer_content p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
color: antiquewhite;
}
.footer_3 a{
    text-decoration: none;
    color: rgb(195, 186, 175);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer_menu img {
    width: 2vw;
    margin-right: 18px;
    background-color: antiquewhite;
}
.footer_info ul {
list-style: none;
margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
}
.container h1{
    font-size: 30px;
}
.container_2 {
    display: flex;
    flex-direction: column;
}
.container_2 h1{
    font-size: 30px;
}
.container_3 {
    display: flex;
    flex-direction: column;
}
.container_3 h1{
    font-size: 30px;
}
.aside {
    display: none;
}
.sidebar {
    display: none;
}
.aside_2 {
    display: none;
}
.menu {
    display: flex;
    flex-direction: column;
}
.footer {
    display: none;
}
.footer_2 {
    display: none;
}
.footer_3 {
display: none;
}
}
img {max-width: 100%;}